@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap);

.mouse,
body {
  position: relative;
}

.header__sm-menu,
.header__sm-menu--active {
  visibility: hidden;
  opacity: 0;
}

.heading-sec__main::after,
.mouse::before {
  content: "";
  height: 5px;
  transform: translateX(-50%);
  left: 50%;
}

.mouse,
.projects__row-img-cont {
  overflow: hidden;
  width: 50%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 60px;
}

.mouse::before {
  width: 5px;
  position: absolute;
  top: 7px;
  background-color: #eee;
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: 1.3s infinite wheel;
  animation: 1.3s infinite wheel;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 59%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.header__logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.header__logo-container:hover {
  color: #0097b9;
}

.header__link:hover,
.header__sm-menu-link a:hover {
  color: #0062b9;
}

.header__logo-img-cont {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  background: #0062b9;
}

.header__logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.header__logo-sub {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.header__link,
.header__sm-menu-link a {
  font-size: 1.6rem;
  color: #333;
  font-weight: 700;
  transition: color 0.3s;
  text-transform: uppercase;
}

.header__links {
  display: flex;
}

.header__link {
  padding: 2.2rem 3rem;
  display: inline-block;
  letter-spacing: 1px;
}

.header__main-ham-menu-cont {
  display: none;
  width: 3rem;
  padding: 2.2rem 0;
}

.header__main-ham-menu,
.header__main-ham-menu-close {
  width: 100%;
}

.header__sm-menu {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  transition: 0.3s;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.header__sm-menu-link a {
  display: block;
  text-decoration: none;
  padding: 2.5rem 3rem;
  text-align: right;
  border-bottom: 1px solid #eee;
  letter-spacing: 2px;
}

.header__sm-menu-link:first-child a {
  border-top: 1px solid #eee;
}

.header__sm-menu-link-last {
  border-bottom: 0;
}

.main-footer {
  background: #000;
  color: #fff;
}

.main-footer__upper {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.main-footer__row-1 {
  order: 2;
}

.main-footer__row-2 {
  width: 40%;
  order: 1;
  max-width: 50rem;
}

.main-footer__short-desc {
  margin-top: 2rem;
  color: #eee;
  font-size: 1.5rem;
  line-height: 1.7;
}

.heading-sec__sub,
.text-primary {
  line-height: 1.6;
  text-align: center;
}

.main-footer__social-cont {
  margin-top: 2rem;
}

.main-footer__icon {
  margin-right: 1rem;
  width: 2.5rem;
}

.main-footer__icon--mr-none {
  margin-right: 0;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}

.heading-primary {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.heading-sec__mb-bg {
  margin-bottom: 11rem;
}

.heading-sec__mb-med {
  margin-bottom: 4.5rem;
}

.heading-sec__main {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
}

.heading-sec__main--lt {
  color: #fff;
}

.heading-sec__main--lt::after {
  content: "";
  background: #fff !important;
}

.heading-sec__main::after {
  position: absolute;
  top: calc(100% + 1.5rem);
  width: 3rem;
  background: #0097b9;
  border-radius: 5px;
}

.heading-sec__sub {
  display: block;
  color: #777;
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
}

.heading-sec__sub--lt {
  color: #eee;
}

.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-primary {
  color: #fff;
  font-size: 2.2rem;
  width: 100%;
}

.d-none {
  display: none;
}

.home-hero {
  color: #fff;
  background: linear-gradient(to right,
      rgba(0, 185, 129, 0.8),
      rgba(0, 98, 185, 0.8)) center,
    url(../../assets/svg/endless-constellation.svg) center;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}

.home-hero__socials {
  position: absolute;
  top: 50%;
  border: 2px solid #eee;
  border-left: 2px solid #eee;
  transform: translateY(-50%);
}

.home-hero__mouse-scroll-cont {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.home-hero__social {
  width: 5rem;
}

.home-hero__social-icon-link {
  width: 100%;
  display: block;
  padding: 1.2rem;
  border-bottom: 2px solid #eee;
  transition: background 0.3s;
}

.home-hero__social-icon-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.home-hero__social-icon-link--bd-none {
  border-bottom: 0;
}

.home-hero__social-icon {
  width: 100%;
}

.home-hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
}

.home-hero__info {
  margin: 3rem auto 0;
  max-width: 80rem;
  display: inline-block;
}

.home-hero__cta {
  margin-top: 5rem;
  text-align: center;
}

.btn {
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn--bg {
  padding: 1.5rem 8rem;
  font-size: 2rem;
}

.btn--med {
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {
  .btn--med {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    width: 60%;
    text-align: center;
  }
}

.btn--medd {
  padding: 1.5rem 5rem;
  font-size: 1.6rem;
}

.btn--theme {
  background: #0097b9;
  color: #fff;
}

.btn--theme-inv {
  color: #0097b9;
  background: #fff;
  border: 2px solid #0097b9;
  box-shadow: none;
  padding: calc(1.5rem - 2px) calc(5rem - 2px);
}

.sec-pad {
  padding: 12rem 0;
}

.about {
  background: #fafafa;
}

.about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}

.about__content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.about__content-details-para {
  font-size: 1.8rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.about__content-details-para--hl {
  font-weight: 700;
  margin: 0 3px;
}

.about__content-details-para:last-child,
.contact__form-field {
  margin-bottom: 4rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

.projects__content {
  display: grid;
}

.projects__row {
  display: flex;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 12rem;
  margin-top: 5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem 3rem;
}

.projects__row:last-child {
  margin-bottom: 0;
}

.projects__row-img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.projects__row-content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.show__case {
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.content {
  display: inline-block;
}

@media only screen and (max-width: 56.25em) {
  .header__content {
    padding: 0 2rem;
  }

  .header__logo-img-cont {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.2rem;
  }

  .header__link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem;
  }

  .main-footer__upper {
    padding: 6rem 0;
  }

  .main-footer__row-1 {
    margin-bottom: 5rem;
  }

  .main-footer__row-2 {
    width: 100%;
  }

  .heading-sec__mb-bg {
    margin-bottom: 8rem;
  }

  .heading-sec__mb-med {
    margin-bottom: 4rem;
  }

  .home-hero__socials {
    display: none;
  }

  .sec-pad {
    padding: 8rem 0;
  }

  .about__content {
    grid-template-columns: 1fr;
    grid-gap: 8rem;
  }

  .projects__content,
  .projects__row {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 8rem;
  }

  .projects__row {
    text-align: center;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }

  .projects__row-content {
    align-items: center;
  }

  .projects__row-img-cont {
    overflow: hidden;
    width: 100%;
  }

  .show__case {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}

.projects__row-content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.projects__row-content-desc {
  font-size: 1.8rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.projects__more-info {
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
}

.contact {
  background: linear-gradient(to right,
      rgba(0, 185, 129, 0.8),
      rgba(0, 98, 185, 0.8)) center/cover,
    url(../../assets/svg/endless-constellation.svg) center/cover;
}

.contact__form-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 2rem;
  max-width: 50rem;
  text-align: right;
  width: 95%;
  border-radius: 5px;
  margin: 2rem auto 0;
}

.contact__form-label {
  color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.contact__form-input {
  color: #333;
  padding: 1.25rem;
  width: 100%;
  border: 1px solid #ebebeb;
  /* font-size: 1.6rem; */
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}

.contact__form-input::placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact__form-input::-webkit-input-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact__form-input:-ms-input-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact__form-input::-ms-input-placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact__form-input:-moz-placeholder {
  opacity: 1;
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact__form-input::-moz-placeholder {
  opacity: 1;
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact__btn {
  width: 30%;
  padding: 2rem 4rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 37.5em) {

  .header__links,
  .home-hero__mouse-scroll-cont {
    display: none;
  }

  .header__main-ham-menu-cont,
  .main-footer__upper {
    display: block;
  }

  .header__sm-menu--active {
    visibility: visible;
    opacity: 1;
  }

  .heading-primary {
    font-size: 4.5rem;
  }

  .heading-sec__main::after {
    top: calc(100% + 1.2rem);
  }

  .heading-sec__sub {
    font-size: 1.8rem;
  }

  .text-primary {
    font-size: 2rem;
  }

  .home-hero {
    height: unset;
    min-height: unset;
  }

  .home-hero__content {
    padding: 19rem 0 13rem;
    margin: auto;
    position: static;
    transform: translate(0, 0);
  }

  .about__content-title,
  .projects__row-content-title {
    font-size: 2.4rem;
  }

  .projects__row-content-desc {
    font-size: 1.7rem;
  }

  .contact__form-container {
    padding: 3rem;
  }

  .contact__form-field {
    margin-bottom: 2rem;
  }

  .contact__btn {
    width: 100%;
  }
}

@media (max-width: 45rem) {
  .contact__btnn {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
  }
}

.contact__btnn {
  width: 35%;
  padding: 2rem 1rem;
  font-size: 1.6rem;
}

.align__social {
  align-items: center;
  justify-content: center;
  text-align: center;
}